@model IEnumerable<cs.Models.Product>

<a asp-action="Create" class="btn btn-primary">Add Product</a>

<hr />

@if (!Model.Any())
{
    <div class="text-center p-5 border shadow-sm">
        <h3>Your shop is empty!</h3>
        <p>Click the button above to add your first item.</p>
    </div>
}
else
{
    <table class="table mt-3">
        </table>
}