@model IEnumerable<cs.Models.Product>

<h1>Product List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price</td>
        </tr>
    }
    </tbody>
</table>